// Includes

HEADER_ARMA = "$(MM_PATH)/../armadillo/include"
HEADER_MOMA_CORE = "$(MM_PATH)/core/**"
HEADER_MOMA_FEATURES = "$(MM_PATH)/features/**"
HEADER_MOMA_PARSERS = "$(MM_PATH)/parsers/**"

HEADER_MOMA_OF_APP = "$(MM_PATH)/scenes/oF/application/**"
HEADER_MOMA_OF_FEATURES = "$(MM_PATH)/scenes/oF/features/**"
HEADER_MOMA_OF_VR = "$(MM_PATH)/scenes/oF/vr/**"

HEADER_MOMA_OFX_OSC = "$(MM_PATH)/../oF/addons/ofxOsc/**"
HEADER_MOMA_OFX_XML = "$(MM_PATH)/../oF/addons/ofxXmlSettings/**"
HEADER_MOMA_OFX_UI = "$(MM_PATH)/../oF/addons/ofxUI/**"

// Libraries

LIB_ARMA = "$(MM_PATH)/../armadillo/lib/osx/libarmadillo.a"

// Consolidating main compilation/linking variables

MM_HEADERS = $(HEADER_ARMA) $(HEADER_MOMA_CORE) $(HEADER_MOMA_FEATURES) $(HEADER_MOMA_PARSERS) $(HEADER_MOMA_OF_APP) $(HEADER_MOMA_OF_FEATURES) $(HEADER_MOMA_OF_VR) $(HEADER_MOMA_OFX_OSC) $(HEADER_MOMA_OFX_XML) $(HEADER_MOMA_OFX_UI)

MM_LIBS = $(LIB_ARMA)
