// Paths then includes

OF_PATH = ../../../oF
#include "../../../oF/libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

MM_PATH = ../../../MoMa
#include "CoreMM.xcconfig"

// Headers & Libraries linked

HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(MM_HEADERS)

// Other needed properties

PRODUCT_NAME = MotionMachine
CONFIGURATION_BUILD_DIR = $(SRCROOT)/build/
GCC_AUTO_VECTORIZATION = YES
DEAD_CODE_STRIPPING = YES
