# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
**.app/*

# Exclude build/ folder
*/build/*

# Exclude any app but examples
apps/*
!apps/examples/*

# Exclude openFrameworks bits
apps/examples/*/bin/*
!apps/examples/*/bin/data/*
libs/oF/export/*
libs/oF/libs/*

# Exclude nibs/swap files
*~.nib
*.swp

#Exclude Matlab files
*.m~
 
# Exclude OS X folder bits
.DS_Store
 
# Exclude XCode 3 and 4 bits
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Exclude Visual Studio 2012 bits
*.sdf
*.suo
*.exp
*.opensdf
*.bsc
*.pdb
*.cache
obj

# Avoid excluding Armadillo lib files
!libs/armadillo/lib/win32/blas_win32_MT.dll
!libs/armadillo/lib/win32/blas_win32_MT.lib
!libs/armadillo/lib/win32/lapack_win32_MT.dll
!libs/armadillo/lib/win32/lapack_win32_MT.lib
!libs/armadillo/lib/osx/libarmadillo.4.45.0.dylib
!libs/armadillo/lib/osx/libarmadillo.4.dylib
!libs/armadillo/lib/osx/libarmadillo.dylib

# Exclude videos
*.mp4
*.mov
