// Paths then includes

OF_PATH = ../../../libs/oF
#include "../../../libs/oF/libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

MM_PATH = ../../../libs/MoMa
#include "../../../libs/compiled/project/osx/CoreMM.xcconfig"

// Icons and stuff

ICON_NAME_DEBUG = icon-debug.icns
ICON_NAME_RELEASE = icon.icns
ICON_FILE_PATH = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/

// Consolidating main compilation/linking variables

HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(MM_HEADERS)
LIB_MM = "$(MM_PATH)/../compiled/lib/osx/MotionMachine.a"
